* {
    text-decoration: none;
}
html, body {
    margin: 0;
    background: #f84b4b;
    font-family: 'Inter', sans-serif;
    width: 100%;
    display: flex;
}

.left_panel {
    position: sticky;
    top:0 ;
    background-color: #191a1c;
    height: 100vh;
    width: 290px;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.logo_panel {
    padding-top: 20px;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-right: auto;
    position: sticky;
    padding-left: 20px;
}

.search_panel{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.search_users{
    font-size: 16px;
    position: absolute;
    left: 55px;
    top: 72px;
    background-color: transparent;
    height: 35px;
    width: 180px;
    border: none;
    border:0;
    outline:0;
    color: white;
}
.nav_panel{
    display: grid;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    justify-content: center;
}
.nav_button{
    display: flex;
    align-items: center;
    width: 225px;
    background-color: #222223;
    color: white;
    height: 40px;
    border-radius: 7px;
}
.nav_text{
    padding-left: 10px;
}
.nav_icons{
    padding-left: 10px;
}
.user_img{
    align-self: center;
    height: 35px;
    width: 35px;
    border-radius: 50px;
}
.user_panel{
    height: 65px;
    border-top: solid;
    border-color: #303030;
    border-width: calc(10px/9999999);
    padding-left: 15px;
    gap: 15px;
    display: flex;
    margin-top: auto;
    align-items: center;
}
.exit{
    margin-left: 50px;
}
.user_name{
    color: white;
}
.page_main{
    padding-top: 25px;
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.home{
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.title{
    font-size: 22px;
    color: white;
    align-self: flex-start;
}
.float_panel{
    position: sticky;
    top: 25px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    gap: 15px;
}
.workout_log{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 690px;
    height: 550px;
    min-height: 550px;
    background-color: #161618;
}
.profile{
    border-radius: 10px;
    width: 330px;
    height: 385px;
    background-color: #161618;
}
.suggestions{
    border-radius: 10px;
    width: 330px;
    height: 400px;
    background-color: #161618;
}
#workout_log_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
    width: 92%;
    height: 92%;
}
#log_profile_pic{
    width: 50px;
    border-radius: 50px;
}
#workout_user{
    display: flex;
    align-items: center;
    gap: 15px;
}
#workout_log_username{
    color: white;
}
#workout_data{
    font-size:14px;
    color: #82888e;
}
#workout_overview {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#workout_routinename{
    color: white;
}
#log{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 35px;
}
.log_titles{
    color: #82888e;
    font-size: 10px;
}
.log_values{
    font-size: 15px;
    color: white;
}
.log_blocks{
    display: flex;
    flex-direction: column;
    height: 30px;
}