* {
    text-decoration: none;
}
html, body{
    margin: 0;
    background: #fcffff;
    .content{
        display: flex;
        justify-content: center;
        width: 100%;
        .login{
            padding-top: 5%;
            width: 50%;
            justify-items: center;
            .login_options {
                display: grid;
                text-align: center;
            }
            .login_button {
                width: 400px;
                border: none;
                box-shadow: 0.1px 0.1px 0.1px 0 rgba(0, 0, 0, 0.2), 0 0.1px 1px 0 rgba(0, 0, 0, 0.19);
                border-radius: 10px;
            }
        }
        .login_screen_img_div{
            background: ghostwhite;
            width: 50%;
            text-align: center;
            overflow: hidden;
            .login_screen_img{
                margin-left: 130px;
                padding-top: 15%;
            }
        }
    }
    .navdiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        height: 40px;
        box-sizing: border-box;
        max-width: 100vw;
        width: 100%;
        direction: rtl;
        .logo{
            font-size: 25px;
            font-weight: 600;
            color: black;
            margin-right: auto;
            position: sticky;
            padding-left: 20px;
        }
        .navbar {
            font-family: "DejaVu Sans", serif;
            padding-right: 15px;
            padding-left: 15px;
            height: 40px;
        }
    }
    .header_line{
        background: lightgray;
        height: 0.1vh;
    }
}











