* {
    text-decoration: none;
}
html, body{
    margin: 0;
    background: whitesmoke;
    .content{
        display: flex;
        justify-content: center;
        width: 100%;
        .login{
            padding-top: 5%;
            width: 50%;
            justify-items: center;
            .login_options {
                display: grid;
                text-align: center;
            }
            .login_button {

            }
        }
        .login_screen_img_div{
            background: ghostwhite;
            width: 50%;
            text-align: center;
            overflow: hidden;
            .login_screen_img{
                margin-left: 130px;
                padding-top: 15%;
            }
        }
    }
    .navdiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            font-size: 25px;
            padding-top: 5px;
            padding-left: 150px;
            font-weight: 600;
            color: black;
        }
        .navbar {
            background: white;
            font-family: "DejaVu Sans", serif;
            padding-right: 15px;
            padding-left: 15px;
            height: 40px;
        }
    }
    .header_line{
        background: lightgray;
        height: 0.1vh;
    }
}











